.SA_widget {
  position: absolute;
  left: 10px;
  top: 100px;
  z-index: 99999;
  padding: 20px;

  color: #000;
  background-color: #fff;

  border-radius: 10px;
}

.SA_hidden {
  display: none !important;
}

.SA_widget_title {
  display: inline;
  margin-right: 20px;
}

.SA_widget_close {
  float: right;
}

/* Windowing */
.SA_widget__window .SA_widget_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}