.SA_widget {
  position: absolute;
  left: 10px;
  top: 100px;
  z-index: 99999;
  padding: 20px;

  color: #000;
  background-color: #fff;
}

.SA_hidden {
  display: none;
}

.SA_widget_title {
  display: inline;
  margin-right: 20px;
}

.SA_widget_close {
  float: right;
}